<h1>Here are our Puppies!</h1>
  <ul>
  <% @puppies.each do |puppy| %>
  <li><h3>
  <%= link_to puppy.name, "/puppies/#{puppy.id}"%> // 
  <%= link_to "Edit", "/puppies/#{puppy.id}/edit"%>
  </h3>
  </li>
  <% end %>
  </ul>
<%= link_to "Add a new puppy!", "/puppies/new" %>